<link rel="import" href="login.html">
<link rel="import" href="request.html">
<link rel="import" href="reset.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/application-manager/host.html">
<link rel="import" href="/components/notification/toastr.html">
<link rel="import" href="/components/ui-elements/sk-cube.html">
<style>
    #app-shell {
        height: 100%;
        position: relative;
        top: 50%;
    }
    .loginscreen {
        position: relative;
        top: 65%;
    }
    #login-icon {
        padding: 10px 0 0 0;
    }
    .loader {
        display: block;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }
    .spinner .sk-spinner {
        margin: 0;
        transform: translateX(0) scale(2);
    }
    .config-fail {
        text-align: center;
    }
</style>
<dom-module is="login-view">
    <style>
        :host {
            display: block;
            position: relative;
            transform: translateY(-50%);
            min-height: 335px;
            height: 100%
        }
    </style>
    <template>
        <div hidden$="{{!configReady}}" class="middle-box text-center loginscreen">
            <notification-toastr></notification-toastr>
            <img id="login-icon" src="/images/lendfoundry_logo300x62.png" alt="LendFoundry">
            <application-host></application-host>
        </div>
        <div hidden$="{{configReady}}" id="app-shell" class="gray-bg">
            <div hidden class="loader">
                <div hidden$="{{!configFailed}}" class="config-fail">Loading failed. Please try again or contact support.</div>
                <spinkit-cube hidden$="{{configFailed}}" class="spinner"></spinkit-cube>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config config-ready="{{configReady}}" config-failed="{{configFailed}}"></alloy-config>
        <event-console></event-console>
    </template>
    <script>
        Polymer({
            is: "login-view",
            ready: function() {
                var self = this;
                self.configReady;
                self.configFailed;
                window.addEventListener("hashchange", self.redirectToLogin);
                window.addEventListener("WebComponentsReady", self.init());
            },
            observers: [
                'redirectToLogin(configReady)',
            ],
            init: function() {
                setTimeout(function() {
                    $(".loader").addClass("animated fadeInUp").removeAttr("hidden");
                }.bind(self), 500);
            },
            redirectToLogin: function(configReady) {
                if (configReady && !window.location.hash) {
                    window.location = window.config.login + "#components-security-login";
                }
            }
        })
    </script>
</dom-module>