<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/services/format.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<link rel="import" href="/components/ui-elements/element-pagination.html">
<dom-module id="activity-history">
    <style>
        .pull-right span {
            margin: 0 10px;
        }
        .well {
            margin-bottom: 0;
            height: 200px;
            line-height: 150px;
        }
        #search {
            width: 40%;
            float: right;
        }
    </style>
    <template>
        <div class="inspinia-timeline" hidden$="{{!hasActivities(activities)}}">
            
            <div class="header">
                <label>
                    <select name="table_length" id="length-selector" class="form-control" on-change="setPageLength">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> activities per page
                </label>

                <div id="search" class="input-group">
                    <input class="form-control" value="{{searchTerm::input}}" placeholder="Search for date, title, description..."></input>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
            
            <template is="dom-repeat" items="{{parsedActivities}}" as="activity">
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class$="{{activityIcon(activity.eventName)}}"></i>
                            <div>{{activity.author}}</div>
                            <div>{{activity.date}}</div>
                            <div><small id="relative-date" class="text-navy">{{activity.time}}</small></div>
                        </div>
                        <div class$="{{timelineClass(activity.index)}}">
                            <p class="m-x-xs"><strong>{{activity.title}}</strong></p>
                            <p>{{activity.description}}</p>
                        </div>
                    </div>
                </div>
            </template>
            <element-pagination element-length="{{searchActivitiesLength}}" selected-index="{{selectedIndex}}" page-length="{{pageLength}}"></element-pagination>
        </div>
        <div class="well" hidden$="{{hasActivities(activities)}}">
            No activities logged
        </div>
        <event-hub id="hub">
            <event-subscription event="loan-activity:refresh" on-handle="loadActivities"></event-subscription>
        </event-hub>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "activity-history",
            properties: {
                currentLoan : Object,
                pageLength: String
            },
            observers: [
                "parseActivities(selectedIndex, searchTerm, activities, pageLength)"
            ],
            attached : function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init : function() {
                var self = this;
                
                this.selectedIndex = 0;
                this.pageLength = 5;
                this.searchTerm = "";
                
                return function(){
                    self.loadActivities();  
                };
            },
            setPageLength: function(event) {
                this.pageLength = event.target.value;
            },
            resetTab : function() {
                this.loadActivities();
            },
            loadActivities : function(){
                var self = this;
                self.activities = [];                
                self.$.http.get("/:loan", window.config.services.loanActivityLog, function(activities){
                    var tempActivities = [];
                    for(var i in activities){
                        var activity = activities[i];
                        var noNullVals = true;
                        for (var props in activity) {
                            if (activity[props] == undefined) {
                                noNullVals = false;
                            }
                        }
                        if (!noNullVals) {
                            continue;
                        }
                        activity.time = moment(new Date(activity.eventDate.time)).fromNow();
                        activity.date = moment(new Date(activity.eventDate.time)).format("MM/DD/YYYY");
                        tempActivities.push(activity);
                    }
                    self.set("activities", tempActivities.reverse());
                });
            },
            parseActivities(selectedIndex, searchTerm, activities, pageLength) {
                activities = this.searchLog(searchTerm, activities);
                this.set("searchActivitiesLength", activities.length);
                activities = this.paginateLog(selectedIndex, activities);
                this.set("parsedActivities", activities);
            },
            paginateLog : function(selectedIndex, activities) {
                var currentPageStart = selectedIndex * this.pageLength;
                return activities.slice(currentPageStart, currentPageStart + this.pageLength);
            },
            searchLog : function(searchTerm, activities) {
              return activities.filter(function(activity) {
                  var searchables = [];
                  for (var prop in activity) {
                      if (typeof activity[prop] !== "object") {
                        searchables.push(activity[prop].toLowerCase());
                      }
                  }
                  searchables = searchables.join(", ");
                  console.log(searchables);
                  return searchables.indexOf(searchTerm.toLowerCase()) !== -1;
              });
            },
            activityIcon : function(activityType) {
                return "fa fa-send-o";
            },
            timelineClass : function(index) {
                return index === 0 ? "col-xs-10 content no-top-border" : "col-xs-10 content";
            },
            onNewEvent : function(event) {
                this.push("activities", event)
            },
            hasActivities: function() {
                return this.activities.length > 0;
            }
        })
    </script>
</dom-module>