<link rel="import" href="/components/services/http/request.html">
<dom-module id="date-input">
  <template>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input id="datepicker-input" class="form-control" value="{{inputValue::input}}" on-blur="setInputValue" name="date">
    </div>
    
    <http-request id="http"></http-request>
  </template>
  <script>
    Polymer({
      is : "date-input",

      properties : {
        inputValue: {
          type: String,
          notify: true
        },
        startDate: {
          type: String,
          notify: true
        },
        endDate: {
          type: String,
          notify: true
        },
        tenantDates: {
          type: Boolean,
          notify: true,
          value: false
        }
      },
      attached : function() {
        var self = this;
        if (window.jQuery && $.fn.datepicker) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init());
        }
      },
      setInputValue : function() {
          this.inputValue = $("#datepicker-input", this).val();
          this.fire("blur");
      },
      init : function() {
        var self = this;
        
        self.initDisabledDates = false;

        return function() {
          self.async(function() {
            var dateInput = self.dateInput = $(".date", self).datepicker({
              autoclose: true,
              startDate: self.startDate,
              endDate: self.endDate,
            });
            
            if (!self.tenantDates) {
                dateInput.on("changeDate", function(e) {
                  self.setInputValue();
                });
            }
            
            // If tenantDates is true, enable updating on changeYear/Month
            // and initial request send on datepicker show
            if (self.tenantDates) {
            // self.updateDisabledDates(self.inputValue, true);
              dateInput.on("changeYear changeMonth", function(e) {
                self.updateDisabledDates(e.date, true);
              }).on("show", function(e) {
                if (!self.initDisableDates) {
                  self.updateDisabledDates(self.inputValue, true);
                  self.initDisableDates = true;
                }
              }).on("changeDate", function(e) {
                  var newDate = e.format("mm/dd/yyyy");
                  if (self.inputValue.slice(0, 2) !== newDate.slice(0, 2)) {
                    self.updateDisabledDates(newDate);
                  }
                  self.setInputValue();
              });
            }
            
            self.lightHost = $(this).closest("activity-form")[0];
            
          })
        }
      },
      // Updates datepicker dateview by disabling dates based on tenant config
      // sets current date to the first eligible date in the viewed month
      // params (date to update around, set date[bool])
      updateDisabledDates: function(date, setDate) {
        var self = this;
        var dateRange = self.getDateRangeInfo(date);
        
        self.$.http.get('/' + dateRange.startDate + '/' + dateRange.term + '/days', window.config.services.calendar,
        function(data) {
          var parsedDates = self.parseDates.call(self, data, dateRange.currentMonth, self.startDate, self.endDate);
          if (setDate) {
            self.dateInput.datepicker('update', parsedDates.firstDate);
          }
          
          self.dateInput.datepicker("setDatesDisabled", parsedDates.disabledDates);
        });
      },
      parseDates: function(dateStatuses, currentMonth, startDate, endDate) {
        var result = {};
        result.disabledDates = [];
        var tenant = window.tenant;
        for (var i = 0; i < dateStatuses.length; i++) {
          var dateStatus = dateStatuses[i];
          var date = dateStatus.date;
          // Parse for disabled dates
          if (dateStatus.type !== "Business") {
            var date = moment(dateStatus.date).tz(tenant.timezone).format("MM/DD/YYYY");
            result.disabledDates.push(date);
            continue;
          }
          // Parse first date of view
          if (new Date(moment(date).tz(tenant.timezone).format("MM/DD/YYYY")).getMonth() !== currentMonth) { continue; } 
          
          if (result.firstDate == undefined &&
              dateStatus.type === "Business" &&
             (startDate === undefined || moment(startDate).tz(tenant.timezone).isBefore(date, 'day') || moment(startDate).tz(tenant.timezone).isSame(date, 'day')) &&
             (endDate === undefined || moment(endDate).tz(tenant.timezone).isAfter(date, 'day') || moment(startDate).tz(tenant.timezone).isSame(date, 'day')) ) {
              result.firstDate = moment.utc(date).format("MM/DD/YYYY");
          }
          
        }
        return result;
      },
      getDateRangeInfo: function(date) {
        var currentMonth = new Date(date).getMonth();
        var currentYear = new Date(date).getFullYear();
        var firstOfMonth = new Date(currentYear, currentMonth, 1);
        
        return {
          startDate: moment(new Date(currentYear, currentMonth, -firstOfMonth.getDay() + 1)).format("YYYY-MM-DD"),
          // Days in datepicker month view
          term: 42,
          currentMonth: currentMonth
        };
      },
      //  Methods should be called by forms.
      validate : function() {
        this.clearError();
        var regex = /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/
        var validStatus = regex.test(this.inputValue);
        if (!validStatus || this.inputValue.length <= 0) {
          $("input", this).addClass("error");
          return false;
        }
        return true;
      },
      clearError : function() {
        $("input", this).removeClass("error");
      },
      addError : function() {
        $("input", this).addClass("error");
      },
      clearField : function() {
        this.inputValue = "";
        $(".date", this).datepicker('clearDates');
        $("input", this).blur();
      },
      val : function() {
        if (arguments[0] != undefined) {
          this.inputValue = arguments[0];
        }
        return this.inputValue || "";
      }
    });
  </script>
</dom-module>
