<link rel="import" href="node.html">
<link rel="import" href="../event/hub.html">
<link rel="import" href="../event/subscription.html">
<link rel="import" href="../services/http/request.html">
<dom-module id="nav-sidebar">
	<template>
        <event-hub id="hub">
                <event-subscription event="page:change" on-handle="checkIfActive"></event-subscription>
        </event-hub>
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav metismenu" id="side-menu">
					<li class="nav-header">
						<div class="logo-element">
							<img src="/images/lendfoundry-logo.png" style="max-width:180px" />
						</div>
						<div class="mini-logo-element">
							<img src="/images/lendfoundry-blocks-1000.png" style="max-width:30px" />
						</div>
					</li>
					<li class="nav-header nav-section-header">
					</li>
					<!--<queue-menu></queue-menu>-->
					<template is="dom-repeat" items="{{nodes}}">
						<nav-node node="{{item}}" level="2"></nav-node>
					</template>
				</ul>
			</div>
		</nav>
        <http-request id="http"></http-request>
	</template>
	<script>
		Polymer({
			is : 'nav-sidebar',
			ready : function(){
                var self = this;
                // GET list of filters and endpoints with config service
                
                
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
			},
            init: function() {
                var self = this;
                return function() {
                        var config = window.config.services.configuration;
                        self.$.http.get("/alloy/filters", config, function(filters) {
                                self.nodes = [{
                                        title: "Home",
                                        icon: "home",
                                        url: "#/components-home-view"
                                }];
                                for (var filterName in filters) {
                                        self.push("nodes", {
                                                title: filterName,
                                                url: "/#/components-filter-view/filter:" + filterName
                                        })
                                }
                                // self.push("nodes", {
                                //         title: "Onboard New Loan",
                                //         url: "#/components-onboard-view"
                                // })
                                self.selectNode();
                        });
                        
                }
            },
            selectNode: function() {
                    var self = this;
                    self.async(function() {
                                $('nav-node', self).each(function() {
                                        var target = this;
                                        $(this).on('click', function() {
                                                $('nav-node', self).each(function() {
                                                        this.handleClick(target);
                                                })
                                        })
                                })
                        })
            },
            checkIfActive: function() {
                    var self = this;
                    $('nav-node', self).each(function() {
                            this.checkIfActive();
                    })
            }
		});
	</script>
</dom-module>