<link rel="import" href="../inbox/view.html">
<dom-module is="home-view">
    <template>
        <inbox-view></inbox-view>
    </template>
    <script>
        Polymer({
            is: "home-view"
        })
    </script>
</dom-module>