<dom-module id="element-loader">
    <style>
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: "element-loader",
            properties: {
                importPath: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                //Get Tenant
                var self = this;
                var tenant = '/tenant';

                self.importFromFolder(tenant, function() {
                    console.log("imported: " + tenant + "/", self.importPath);
                }, function() {
                    self.importFromFolder('/components', function() {
                        console.log("imported: /components/", self.importPath);
                    }, function() {
                        console.log("could not import import: ", self.importPath);
                    })
                });
            },
            importFromFolder: function(root, success, error) {
                this.importHref(root + '/' + this.importPath, success, error);
            }
        });
    </script>
</dom-module>