<link rel="http" href="http/request.html">
<dom-module id="alloy-tenant">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "alloy-tenant",
            properties: {
                tenantReady: {
                    type: Boolean,
                    notify: true
                }
            },
            ready: function() {
                var self = this;
                
                if (!window.tenant) {
                    this.$.http.get("/tenant", window.config.services.configuration, function(data) {
                        window.tenant = data;
                        self.tenantReady = true;
                    })
                }
            }
        })
    </script>
</dom-module>