<link rel="import" href="/components/ui-elements/custom-modal.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/format.html">
<dom-module id="drop-zone">
    <style>
        #docu-drop {
            border: hidden;
        }
        #docu-drop.dragover {
            border: 2px solid #88BF40;
        }
        .dz-preview {
            border: 2px solid grey;
            border-radius: 5px;
            padding: 5px;
        }
        .dz-preview .label{
            margin: 5px;
            line-height: 3;
        }
        .dropzone {
            padding: 0;
        }
    </style>
    <template>
        <form id="docu-drop" action="{{submitTarget}}">
            <div>
                <content select=".main"></content>
                <!--<input hidden$="{{!filesAdded}}" type="submit" class="btn btn-primary" value="Add Documents" on-click="processQueue">-->
                <!--<input hidden$="{{!filesAdded}}" type="submit" class="btn btn-primary" value="Remove All Documents" on-click="removeAllDocuments">-->
            </div>
        </form>
        <event-hub id="hub"></event-hub>
        <alloy-format id="format"></alloy-format>
    </template>
    <script>
        Polymer({
            is : "drop-zone",
            ready : function() {
                var self = this;
                if (window.jQuery && window.jQuery.fn.dropzone) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            properties : {
                submitTarget: {
                    type: String,
                    notify: false
                },
                fileReference : {
                    type: Object,
                    notify: true
                }
            },
            init: function() {
                var self = this;
                
                self.filesAdded = false;
                //TODO: Expose itemData as component API
                self.itemData = {
                    tags: []
                }
                
                return function() {
                    self.async(function() {
                        
                        var setFileReference = function(file) {
                            var queuedFiles = self.dropzone[0].dropzone.getQueuedFiles();
                            for (var i = 0; i < queuedFiles.length; i++) {
                                // Index of file in queudFileArray
                                if (file === queuedFiles[i]) {
                                    self.set("fileReference", {
                                        index: i,
                                        data: file.data
                                    });
                                    continue;
                                }
                            }
                        };
                        
                        $("input[type=submit]").on("click", function(e) {
                            e.preventDefault();
                        });
                        
                        self.addEventListener("edit-file", function(e) {
                            var queuedFiles = self.dropzone[0].dropzone.getQueuedFiles();
                            var file = queuedFiles[e.detail.fileIndex] 
                            // Add "tag" parameter to drop-zone component API that accepts a Boolean value
                            // It will either enable or disable showing tags on a file's preview element
                            file.data.tags = e.detail.tags;
                            $(file.previewElement).find(".tag").remove();
                            for (var i = 0; i < e.detail.tags.length; i++) {
                                $(file.previewElement).append('<span class="label label-primary label-xs tag">' + e.detail.tags[i] + '</span>')
                            }
                            
                        });
                        $(self.$["docu-drop"]).on("dragend drop", function(e) {
                            $(this).removeClass("dragover");
                        })
                        
                        Dropzone.autoDiscover = false;
                        self.dropzone = $(self.$["docu-drop"]).dropzone({
                            init: function() {
                                this.on("addedfile", function(file) {
                                    self.filesAdded = true;
                                    file.data = $.extend(true, {}, self.itemData);
                                    
                                    file.previewElement.addEventListener("click", function(e) {
                                        setFileReference(file);
                                    })
                                });
                                this.on("removedfile", function(file) {
                                    if (this.getQueuedFiles().length === 0) {
                                        self.filesAdded = false;
                                    }
                                });
                                this.on("sending", function(file, xhr, formData) {
                                    var tags = file.data.tags;
                                    // Gets added to HEADER
                                    formData.append("tags", tags);
                                });
                                this.on("dragenter", function() {
                                    $(self.$["docu-drop"]).addClass("dragover");
                                });
                                this.on("complete", function(file) {
                                    self.async(function() {
                                        self.removeAllDocuments();
                                        self.$.hub.publish("notification:show", { type: "success", message: "Document uploaded."})
                                        self.$.hub.publish("document:upload", {
                                            documentName: file.name,
                                            tags: [],
                                            ref: "",
                                            date: self.$.format.formatDate(Date.now()),
                                            format: file.name.split(".")[1]
                                        });
                                    }, 500)
                                });
                            },
                            url: "/target",
                            clickable: false,
                            // autoProcessQueue: false,
                            parallelUploads: 5,
                            addRemoveLinks: true
                        });
                        self.dropzone.addClass("dropzone");
                    }, 1)
                }
            },
            processQueue : function() {
                this.dropzone[0].dropzone.processQueue();
                this.$.hub.publish("document:upload");
            },
            removeAllDocuments : function() {
                this.dropzone[0].dropzone.removeAllFiles();
            }
        })
    </script>
</dom-module>