<link rel="import" href="/components/ui-elements/dropdown-list.html">
<link rel="import" href="/components/ui-elements/dropdown-element.html">
<dom-module id="selectable-table">
  <template>
    <style>
        table, .table-responsive {
          overflow: visible;
        }
        #selected-row {
          background-color: #AED47D;
        }
        .radio label.error::before {
          border-color: #CC5965;
        }
        td .btn {
          margin-right: 5px;
        }
        table tbody tr td.selectable-table {
          padding: 5px 10px;
        }
        
        .table > tbody > tr > td {
          vertical-align: inherit;
        }
        .fa {
          font-size: 20px;
        }
        .fa-asterisk {
            font-size: 8px;
            vertical-align: text-top;
            color: #7DB139;
        }
        .inline {
          display: inline;
        }
        .pull-right {
            height: 20px;
        }
    </style>
    <div class="table-responsive">
      <table class$="{{addTableStyle(tableStyle)}}">
        <thead>
          <tr>
            <template is="dom-repeat" items="{{parsedTableHeaders(tableHeaders)}}">
              <th>{{item}}</th>
            </template>
            <th hidden$="{{selectIsDisabled(selectType)}}"></th>
          </tr>
        </thead>
        <tbody>
          <template id="table-items" is="dom-repeat" items="{{convertedItems}}" as="row">
            <tr>
              <template is="dom-repeat" items="{{row}}" as="column">
                <template is="dom-if" if="{{checkIfFormat(column.0)}}"><td>
                  <div class$="{{convertToImage(column.1)}}"></div>
                </td></template>
                
                <template is="dom-if" if="{{tagify(column.1)}}"><td>
                  <template is="dom-repeat" items="{{column.1}}" as="tag">
                    <span class="btn btn-default btn-xs">{{tag}}</span>
                  </template>
                </td></template>
                
                <!--Auto Format Date in Selectable Table-->
                <!--<template is="dom-if" if="{{checkIfDate(column.0)}}"><td>
                  <div>{{convertToDate(column.1)}}</div>
                </td></template>-->
                  
                <template is="dom-if" if="{{normalColumn(column.0, column.1)}}">
                  <td>
                    <div class="inline">{{column.1}}</div>
                    <!--Auto Add Default tag-->
                    <template is="dom-if" if="{{isPrimary(row, index)}}">
                      <span class="label label-primary pull-right">P</span>
                    </template>
                  </td>
                </template>
                
              </template>
              <td align="center" hidden$="{{selectIsDisabled(selectType)}}">
                <dropdown-list hidden$={{!selectIsDefault(selectType)}}>
                  <dropdown-element on-click="selectRow">{{selectRowText}}</dropdown-element>
                  <dropdown-element on-click="deleteRow">Delete</dropdown-element>
                </dropdown-list>
                <div class="radio radio-primary form-group" hidden$={{!selectIsRadio(selectType)}}>
                  <input on-click="selectRow" type="radio" name="radioRow">
                  <label></label>
                </div>
              </td>
            </tr>
          </template>
          
          <array-selector id="selector" items="{{convertedItems}}" selected="{{selected}}"></array-selector>
          
        </tbody>
      </table>
    </div>
    <span id="content" hidden>
      <content></content>
    </span>
  </template>
  <script>
    // Create a forEach function for nodeLists
    var forEach = function(array, callback, scope) {
      for (var i = 0, length = array.length; i < length; i++) {
        callback.call(scope, i, array[i]);
      }
    }
    
    Polymer({
      is : "selectable-table",

      properties : {
        tableHeaders: {
          type: Array,
          notify: true
        },
        tableItems: {
          type: Array,
          notify: true,
          observer: "_updateTableItems"
        },
        selectedRow: {
          type: Object,
          notify: true
        },
        selectedRowIndex: {
          type: Number,
          notify: true
        },
        selectType: {
          notify: true,
          value: "default"
        },
        tableStyle: {
          type: String,
          notify: true,
          value: "default"
        },
        columnWidth: {
          type: Array,
          notify: true,
          value: []
        }
      },

      observers: [
        "_updateTableItems(tableItems.*)"
      ],

      attached : function() {
        var self = this;
        if (window.jQuery) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init());
        }
      },
      init : function() {
        var self = this;

        self.lightDom = this.$.content.children;
        self.tableSize;
        self.selectRowText = self.selectRowText || "Modify"
        
        return function() {
          self.async(function() {
            self.tableSize = self.tableItems.length
            self.waitForChildren(function() {
              for (var i = 0; i < self.tableSize; i++) {
                self.addInjectedElements(i);
              }
              // Dynamically change column widths
              self.setColumnWidths();
            })
          })
        }
      },
      // Runs updates on table if table is change in anyway.
      // Change include: Changes to table cell info(tags), table size, sorting/filtering.
      _updateTableItems : function(changeRecord) {
        if (changeRecord.path === "tableItems.length") {
          this.tableSize = changeRecord.value;
        } else {
          this.async(function() {
            this.convertedItems = this.parsedTableItems();
          })
        }
        if (changeRecord.path === "tableItems.splices") {
          this.async(function() {
            this.setColumnWidths();
          }, 1)
          if (this.tableSize <= changeRecord.base.length || this.tableSize === undefined || changeRecord.base.length === 1) {
            this.waitForChildren(this.addInjectedElements, [changeRecord.base.length - 1])
          }
          for (var i = 0; i < this.tableItems.length; i++) {
            if (this.tableItems[i].isSelected) {
              this.highlightSelectedRow(i)
            }
          }
        }
      },
      setColumnWidths : function() {
        for (var columnIndex = 0; columnIndex < this.columnWidth.length; columnIndex++) {
          var columnSelector = "th:nth-of-type(" + (columnIndex + 1) + ")";
          this.querySelector(columnSelector).style.width = this.columnWidth[columnIndex] + "%";
        }
      },
      // Help function that places a function in the Polymer microtask queue to run
      // after all elements within the localDom are finished rendering
      waitForChildren : function(fn) {
        var args = Array.prototype.slice.call(arguments);
            this.async(function() {
              fn.apply(this, args[1]);
            }, 1)
      },
      // Injects items nested in this components light dom at a given position
      // Only compatable with dropdown elements at this point
      addInjectedElements : function(position) {
        var self = this;
        var elements = this.retrieveInjectedElements();
        // Inject all nested elements into the dropdownlist
        elements.forEach(function(dropdownElement) {
          var dropdownElementContent = $(dropdownElement, self).find("li")[0];
          var ulList = self.querySelectorAll("ul");
          var dropdownList = ulList[position];
          var elementCopy = dropdownElementContent.cloneNode(true);
          $(".injected-element", dropdownList).remove();
          elementCopy.setAttribute("class", "injected-element")
          if (!dropdownList) { return }
          Polymer.dom(dropdownList).appendChild(elementCopy);
          // Bind injected element to original functionality
          $(elementCopy).on('click', function(e) {
            var elementTargeted = e.target;
            var rowDetails = self.getRow(elementTargeted);
            dropdownElement.fire('click', rowDetails);
          })
        });
      },
      // Returns an array of all element being injected through the lightDom
      retrieveInjectedElements : function() {
        return Array.prototype.slice.call($(this.lightDom));
      },
      // Use to set option on this custom element.
      // !Important note! Setting options using this method results in a one time setting,
      // The options set here will not be bound in any way.
      selectableTable : function(options) {
        for (var option in options) {
          this.set(option, options[option]);
        }
      },
      // Use this on injected dropdown elements to recieve rowIndex (to select the corrent model)
      // and copy of the row object being selected.
      getRow : function(target) {
        var actionList = $(target).closest("ul")[0];
        var rowIndex = this.$["table-items"].indexForElement(actionList);
        var rowSelected = $.extend(true, {}, this.get("tableItems." + rowIndex))
        
        return {
          rowIndex: rowIndex,
          row: rowSelected
        }
      },
      // Sets selected row
      selectRow : function(e) {
        var rowIndex = e.model.index;
        
        for (var i = 0; i < this.tableItems.length; i++) {
          this.set("tableItems." + i + ".isSelected", false);
        }
        this.set("tableItems." + rowIndex + ".isSelected", true);
        
        this.selectedRow = $.extend(true, {}, this.get("tableItems." + rowIndex))
        this.selectedRowIndex = rowIndex;
        this.fire("row-selected");
        if (this.selectType === "default") {
          this.removeHighlightsFromTable();
          this.highlightSelectedRow(rowIndex);
        }
      },
      // Highlights selected Row
      highlightSelectedRow : function(rowIndex) {
        // Run after highlights are removed
        this.async(function() {
          $("tbody tr:nth-of-type(" + (rowIndex + 1 ) + ")", this).attr("id", "selected-row");
        })
      },
      // Delete row from items being passed into selectable-table component
      // Warning: Actually modifies the array being passed into this component
      deleteRow : function(e) {
        var rowIndex = e.model.index;
        var removedItem = this.splice("tableItems", rowIndex, 1)[0];
        //TODO: Add API delete request or expose to lightDom
        this.fire("row-deleted", {
          index: rowIndex,
          item: removedItem
        });
        
        (this.selectedRowIndex === rowIndex ? this.refreshTable : this.removeHighlightsFromTable)
          .call(this)
        return removedItem;
      },
      removeHighlightsFromTable : function(selectedRow) {
        $('tr', this).each(function() {
          $(this).removeAttr('id');
        })
      },
      // To be expanded upon.
      refreshTable : function() {
        this.removeHighlightsFromTable();
        this.selectedRow = {};
        this.selectedRowIndex = null;
        for (var i = 0; i < this.tableItems.length; i++) {
          this.tableItems[i].isSelected = false;
        }
      },
      // Grabs headers from object passed into table-headers
      parsedTableHeaders : function(tableHeaders) {
        var result = [];
        for (var title in tableHeaders) {
          result.push(tableHeaders[title]);
        }
        return result;
      },
      // Creates columns based on property in table-headers
      parsedTableItems : function(tableItems) {
        var row = [];
        this.tableItems.forEach(function(tableObject) {
          var column = [];
          for (var title in this.tableHeaders) {
            var tuple = [title, tableObject[title]];
            column.push(tuple);
          }
          column.isPrimary = tableObject.isPrimary;
          row.push(column);
        }.bind(this));
        return row;
      },
      addTableStyle : function(tableStyle) {
        if (this.tableStyle === "default")
          return "table table-striped table-bordered table-hover"
        if (this.tableStyle === "project-list")
          return "table table-hover"
      },
      tagify : function(columnInfo) {
        return Array.isArray(columnInfo) ? columnInfo.length > 0 : false;
      },
      convertToImage : function(formatType) {
        return {
          img: "fa fa-file-image-o", 
          pdf: "fa fa-file-pdf-o",
          docx: "fa fa-file-word-o",
          ico: "fa fa-file-image-o",
          xlsx: "fa fa-file-excel-o",
          xlsm: "fa fa-file-excel-o",
          xml: "fa fa-file-excel-o",
          jpg: "fa fa-file-image-o",
          jpeg: "fa fa-file-image-o"
        }[formatType]
      },
      checkIfFormat : function(propertyName, col) {
        return (propertyName === "format")
      },
      // checkIfDate : function(propertyName) {
      //   return propertyName === "date"
      // },
      // convertToDate : function(dateValue) {
      //   return moment(dateValue, "MM-DD-YYYY").format('MMMM Do YYYY');
      // },
      normalColumn : function(prop, val) {
        // if (!this.tagify(val) && !this.checkIfFormat(prop) && !this.checkIfDate(prop)) {
        //   return true;
        // }
        if (!this.tagify(val) && !this.checkIfFormat(prop)) {
          return true;
        }
      },
      isPrimary : function(row, index) {
        return row.isPrimary && index === 0;
      },
      selectIsDefault: function(selectable) {
        return selectable === "default";
      },
      selectIsRadio: function(selectable) {
        return selectable === "radio";
      },
      selectIsDisabled: function(selectable) {
        return selectable === "false";
      }
    })
  </script>
</dom-module>
