<link rel="import" href="../services/identity/session-manager.html">
<link rel="import" href="../services/window.html">
<dom-module id="wizard-view">
    <template>
        <div id="wizard">
            <content id="wizard-content"></content>
        </div>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <window-service id="window"></window-service>
    </template>
    <script>
        Polymer({
            is: "wizard-view",
            properties: {
                wizardName: {
                    type: String,
                    notify: true
                },
                wizardStepIndex: {
                    type: Number,
                    notify: true
                },
                wizardStepCount: {
                    type: Number,
                    notify: true
                }
            }, 
            attached: function() {
                var self = this;
                
                self.stepsAdded = 0;
                
                if (window.jQuery && window.$.fn.steps) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.previousValidated = true;
                return function() {
                    // self.async within an Polymer 1.0 attached() is the same as Polymer 0.5
                    // domReady() callback which waits for sibling elements and light DOM children
                    
                    self.async(function() {
                        var wizard = self.wizard = $(self.$.wizard).steps({
                            enableCancelButton: true,
                            onStepChanging: function(event, currentIndex, newIndex) {
                                var stepIndex = wizard.steps("getCurrentIndex");
                                
                                // Add to session storage
                                self.saveState(stepIndex);
                                
                                if (newIndex + 1 === self.wizardStepCount) {
                                    self.generateSummary();
                                }
                                
                                if (currentIndex < newIndex) {
                                    return self.validate(stepIndex);
                                }
                                return true;
                            },
                            onStepChanged: function(event, currentIndex, priorIndex) {
                                var currentStep = wizard.steps("getCurrentStep"); 
                                self.wizardStepIndex = currentIndex;
                                self.changeHash(currentIndex);
                            },
                            onCanceled: function() {
                              self.resetWizard();
                              var stepIndex = wizard.steps("getCurrentIndex");
                              
                              for (var i = 0; i < stepIndex; i++) {
                                  wizard.steps("previous");
                              }
                            },
                            onFinishing: function() {
                                return self.submitWizard();
                            }
                        });
                    })
                }
            },
            // Called by wizard-step on step initialization
            addStep: function(title, content, formData, type) {
                this.wizard.steps("add", {
                    title: title, 
                    content: content,
                    contentUrl: this.wizardName + ":" + this.stepsAdded
                });
                // Inject saved state into added step
                this.loadStepState(formData);
                
                // If trying to skip ahead (window.location. ... > stepsAdded)
                var currentStepIndex = Number(this.$.window.params[this.wizardName]);
                if (currentStepIndex >= this.stepsAdded) {
                    // Validate the step before
                    if (this.validate(this.stepsAdded - 1, true) && this.previousValidated) {
                        // If valid go to the next step
                        this.wizardStepIndex = this.stepsAdded;
                        this.wizard.steps("next");
                    } else {
                        this.previousValidated = false;
                    }
                }
                this.stepsAdded++;
            },
            loadStepState: function(formData) {
                for (var element in formData) {
                    if (element === "") { continue; }
                    
                    var inputData = formData[element];
                    var $element = $("[step-id='" + element + "']", this);
                    var propType = $element.prop("type");
                    var inputs = ["ssn-input", "email-input", "number-input", "date-input", "input", "select"];
                    if (propType === "checkbox" || propType === "radio") {
                        $element.prop("checked", inputData);
                        return;
                    }
                    if (inputs.indexOf($element[0].nodeName.toLowerCase()) !== -1) {
                        $element.val(inputData);
                    }
                }
            },
            // Add to session storage
            saveState: function(stepIndex) {
                var token = this.$.session.getSession("token");
                var currentSession = this.$.session.getSessionObject(token) || {};
                var $currentStep = $("#wizard-p-" + stepIndex, this);
                
                if (currentSession[this.wizardName] == undefined) {
                    currentSession[this.wizardName] = [];
                }
                if (currentSession[this.wizardName][stepIndex] == undefined) {
                    currentSession[this.wizardName][stepIndex] = {};
                }
                
                Object.keys(currentSession).length === 0 && (currentSession[stepIndex] = {});
                
                $currentStep.find(":inputComponent:not(:inputComponentClass, [sensitive]), select").each(function(index, element) {
                    var $input = $(element);
                    var id = $input.attr("step-id");
                    var val = $input.val();
                    currentSession[this.wizardName][stepIndex][id] = val;
                }.bind(this));
                
                this.$.session.setSessionObject(token, currentSession);
            },
            // TODO: Add validation for radio, checkbox and select
            validate: function(stepIndex, skippingForward) {
                if (stepIndex < 0) { return true; }
                
                var result = true;
                var $currentStep = $("#wizard-p-" + stepIndex, this);
                
                if (!skippingForward) {
                    $(".error", this).removeClass("error");
                    $(".error-message", this).remove();
                }
                
                $currentStep.find(":inputComponent:not(:inputComponentClass), select").each(function(index, element) {
                    var $input = $(element);
                    if ($input.attr("required")) {
                        if (typeof element.validate === "function" && !element.validate()) {
                            $input.siblings("h5").append("<span class='error-message'>*</span>");
                            result = false;
                        } else if ($input.val() === "") {
                            $input.addClass("error");
                            $input.siblings("h5").append("<span class='error-message'>*</span>");
                            result = false;
                        }
                    }
                }.bind(this));
                
                if (!result && stepIndex === 0) {
                    this.changeHash(0);
                }
                
                return result;
            },
            resetWizard: function() {
                $("[id^=wizard-p-]", this).find(":inputComponent:not(:inputComponentClass), select").each(function(index, element) {
                    var propValue = $(this).prop("type");
                    $(this).val("");
                    (propValue === "checkbox" || propValue === "radio") && $(this).prop("checked", false);
                });
                for (var i = 0; i < this.stepsAdded; i++) {
                    this.saveState(i);
                }
                this.changeHash(0, true);
            },
            changeHash: function(stepIndex, forceRefresh) {
                var hash = window.location.hash;
                for (var i = hash.length; i >= 0; i--) {
                    if (hash[i] === "/") {
                        var url = hash.slice(0, i) + "/" + this.wizardName + ":" + stepIndex;
                        if (forceRefresh) {
                            window.location.hash = url;
                            break;
                        }
                        history.pushState( {}, "Wizard", url)
                        break;
                    }
                }
            },
            submitWizard: function() {
                var formData = {};
                 $("[id^=wizard-p-]", this).find(":inputComponent:not(:inputComponentClass), select").each(function(index, element) {
                     var $element = $(element);
                     var stepId = $element.attr("step-id");
                     var val = $element.val();
                     formData[stepId] = val;
                 });
                this.fire('submit:' + this.wizardName, formData);
            },
            generateSummary: function() {
                var $lastStep = $("#wizard-p-" + (this.wizardStepCount - 1), this);
                var formData = this.getFormData();
                
                $lastStep.find("[step-id]").each(function(index, element) {
                    var $element = $(element);
                    var stepId = $element.attr("step-id");
                    $element.text(formData[stepId]);
                });
            },
            getFormData: function() {
                var formData = {};
                $("[id^=wizard-p-]", this).find(":inputComponent:not(:inputComponentClass), select").each(function(index, element) {
                    var $element = $(element);
                    var stepId = $element.attr("step-id");
                    var val = $element.val();
                    formData[stepId] = val;
                });
                return formData;
            }
        });
    </script>
</dom-module>