<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<dom-module id="notification-toastr">
<template>
    <event-hub id="hub">
        <event-subscription event="notification:show" on-handle="showNotification"></event-subscription>
    </event-hub>
</template>
    <script>
        Polymer({
            is: "notification-toastr",
            showNotification : function(e, args){
                
                // Example (considering that event-hub element has id=hub)
                // this.$.hub.publish("notification:show", { type : "success", message : "One-time Payment done succefully!" });
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "10000000",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr[args.type](args.message);
            },
        })
    </script>
</dom-module>