<link rel="import" href="/components/services/format.html">
<dom-module id="search-result">
    <style>
        .table-group {
            padding: 30px 0 80px;
        }
    </style>
    <template>
        <div class="table-group">
            <div class="input-group form-group">
                <input type="text" id="table-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
            <table id="search-table" class="table hover"></table>
            <alloy-format id="format"></alloy-format>
        </div>
    </template>
    <script>
        Polymer({
            is: "search-result",
            observers: [
                "parseResults(resultData.*)"
            ],
            properties: {
                resultData: {
                    type: Object,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                }
            },
            parseResults: function() {
                if (this.resultData == undefined) { return }
                this.parsedData = [] || this.parsedData;
                
                // Format dataTable for loans
                if (this.resultData.type === "loans") {
                    for (var i = 0; i < this.resultData.results.length; i++) {
                        var result = this.resultData.results[i];
                        var primaryBorrower;
                        for (var j = 0; j < result.Loan.Borrowers.length; j++) {
                            var borrower = result.Loan.Borrowers[j];
                            if (borrower.IsPrimary) {
                                primaryBorrower = borrower;
                            }
                        }
                        var resultData = [
                            result.Loan.ReferenceNumber,
                            this.fullName(primaryBorrower),
                            this.$.format.formatDate(result.Loan.Terms.OriginationDate),
                            result.Loan.Terms.Term,
                            result.Loan.Terms.Rate,
                            result.Loan.Terms.APR,
                            result.id
                        ];
                        this.push("parsedData", resultData);
                    }
                }
                
                // Initialize dataTable if not yet initialized
                // otherwise, just update
                if ( !$.fn.dataTable.isDataTable($("#search-table", this)[0]) ) {
                    this.initializeDataTable();
                } else {
                    var table = $("#search-table", this).dataTable();
                    table.fnClearTable();
                    if (this.parsedData.length > 0) {
                        table.fnAddData(this.parsedData);
                    }
                }
            },
            initializeDataTable: function() {
                var self = this;
                
                if (this.resultData.type === "loans") {
                    var table = this.table = $("#search-table", this).DataTable({
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        data: this.parsedData,
                        drawCallback: function() {
                            $("#search-table .btn", self).on("click", function(e) {
                                window.location.href = "#/components-loan-view/loan:" + e.target.dataset.reference
                            });
                        },
                        columns: [
                            { title: 'Loan Number' },
                            { title: 'Borrower Name' },
                            { title: 'Origination Date' },
                            { title: 'Term' },
                            { title: 'Rate(%)' },
                            { title: 'APR(%)' },
                            { title: '' }
                        ],
                        columnDefs: [{
                            targets: [6],
                            orderable: false,
                            render: function(data) {
                                return "<span id=\"test\" class=\"btn btn-primary btn-xs\" data-reference=\"" + data + "\">Details</span>"
                            },
                            sClass: "center"
                        }]
                    });
                }
                
                // Custom search
                $(this.$["table-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
                
                $("#search-table", this).css("width", "");
            },
            fullName: function(borrower) {
                return [borrower.FirstName, borrower.LastName].join(" ");
            }
        });
    </script>
</dom-module>